In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('rte_data.csv')

In [3]:
data.head()

,Lookupkey,tax_year,academic_year,YAG,sex,subject_name,inst_type,provider_name,ukprn,provider_LA,...,earnings_median,earnings_UQ,POLAR_num_included,POLAR_percent,PA_num_included,PA_median,PA_rank,PA_band,POLAR_include_percent,PA_include_percent
0,"YAG5Female + maleAgriculture, food and related...",2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",FEC,Askham Bryan College,10000415,York,...,17900,23400,30,19.4,5,200,0.717741935,2,46.3,10.4
1,"YAG5Female + maleAgriculture, food and related...",2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",FEC,Bishop Burton College,10000721,East Riding of Yorkshire,...,18400,26600,25,3.7,20,180,0.846774194,3,75,52.8
2,"YAG5Female + maleAgriculture, food and related...",2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",FEC,BMC (Brooksby Melton College),10000952,Melton,...,c,c,c,c,c,c,c,c,c,c
3,"YAG5Female + maleAgriculture, food and related...",2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",FEC,Cornwall College,10001696,Cornwall,...,c,c,c,c,c,c,c,c,c,c
4,"YAG5Female + maleAgriculture, food and related...",2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",FEC,Guildford College of Further and Higher Education,10002815,Guildford,...,c,c,c,c,c,c,c,c,c,c

In [4]:
columns = ['tax_year','academic_year','YAG','sex','subject_name','provider_name','earnings_median','earnings_LQ','earnings_median','earnings_UQ']

In [7]:
cleaned = data[columns]
cleaned.head()

,tax_year,academic_year,YAG,sex,subject_name,provider_name,earnings_median,earnings_LQ,earnings_median,earnings_UQ
0,2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",Askham Bryan College,17900,15000,17900,23400
1,2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",Bishop Burton College,18400,11700,18400,26600
2,2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",BMC (Brooksby Melton College),c,c,c,c
3,2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",Cornwall College,c,c,c,c
4,2018/2019,2012/2013,5,Female + male,"Agriculture, food and related studies",Guildford College of Further and Higher Education,c,c,c,c

In [8]:
cleaned.to_csv('cleaned.csv')